In [1]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimproduct
        """
df = pd.read_sql(query, db_engine)

In [2]:
df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [3]:
df['DealerPrice'].round(2)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601     60.74
602     72.89
603    323.99
604    323.99
605    323.99
Name: DealerPrice, Length: 606, dtype: float64

In [4]:
df['DealerPrice'].round()

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [5]:
df['DealerPrice'].clip(0, 1000).head

<bound method NDFrame.head of 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64>

In [6]:
#dataframe sintetico
import pandas as pd
import numpy as np
years = 5
a = pd.DataFrame({
    "Mese": list("GFMAMGLASOND" * years),
    "Anno": np.repeat(list(range(years)), 12),
    "Guadagni": np.random.randint(800, 5000, 12 * years)
})

In [7]:
# Calcola la somma cumulativa delle vendite per ogni mese
a['Vendite_cumulative'] = a.groupby('Mese')['Guadagni'].cumsum()
print(a.head(5))

  Mese  Anno  Guadagni  Vendite_cumulative
0    G     0      1936                1936
1    F     0      1467                1467
2    M     0      1910                1910
3    A     0      1362                1362
4    M     0      3518                5428

In [8]:
# Calcola la somma cumulativa delle vendite per ogni anno
a['Vendite_cumulative_annuali'] = a.groupby('Anno')['Guadagni'].cumsum()

print(a.head(5))

  Mese  Anno  Guadagni  Vendite_cumulative  Vendite_cumulative_annuali
0    G     0      1936                1936                        1936
1    F     0      1467                1467                        3403
2    M     0      1910                1910                        5313
3    A     0      1362                1362                        6675
4    M     0      3518                5428                       10193

In [9]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimcustomer
        """
dimcustomer = pd.read_sql(query, db_engine)

In [10]:
dimcustomer['FirstName'] = dimcustomer['FirstName'].str.lower()
dimcustomer['MiddleName'] = dimcustomer['MiddleName'].str.lower()

print(dimcustomer.head(5))

   CustomerKey  GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
0        11000            26           AW00011000  None        jon          v
1        11001            37           AW00011001  None     eugene          l
2        11002            31           AW00011002  None      ruben       None
3        11003            11           AW00011003  None    christy       None
4        11004            19           AW00011004  None  elizabeth       None

  LastName  NameStyle   BirthDate MaritalStatus  ... EnglishOccupation  \
0     Yang          0  1971-10-06             M  ...      Professional
1    Huang          0  1976-05-10             S  ...      Professional
2   Torres          0  1971-02-09             M  ...      Professional
3      Zhu          0  1973-08-14             S  ...      Professional
4  Johnson          0  1979-08-05             S  ...      Professional

  SpanishOccupation FrenchOccupation  HouseOwnerFlag  NumberCarsOwned  \
0       Profesional            Cadre               1                0
1       Profesional            Cadre               0                1
2       Profesional            Cadre               1                1
3       Profesional            Cadre               0                1
4       Profesional            Cadre               1                4

          AddressLine1 AddressLine2                Phone DateFirstPurchase  \
0      3761 N. 14th St         None  1 (11) 500 555-0162        2011-01-19
1           2243 W St.         None  1 (11) 500 555-0110        2011-01-15
2     5844 Linden Land         None  1 (11) 500 555-0184        2011-01-07
3     1825 Village Pl.         None  1 (11) 500 555-0162        2010-12-29
4  7553 Harness Circle         None  1 (11) 500 555-0131        2011-01-23

  CommuteDistance
0       1-2 Miles
1       0-1 Miles
2       2-5 Miles
3      5-10 Miles
4       1-2 Miles

[5 rows x 29 columns]

In [11]:
# Trasformiamo i cognomi dei clienti in lettere maiuscole nella colonna 'LastName'
dimcustomer['LastName'] = dimcustomer['LastName'].str.upper()
print(dimcustomer.head(5))

   CustomerKey  GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
0        11000            26           AW00011000  None        jon          v
1        11001            37           AW00011001  None     eugene          l
2        11002            31           AW00011002  None      ruben       None
3        11003            11           AW00011003  None    christy       None
4        11004            19           AW00011004  None  elizabeth       None

  LastName  NameStyle   BirthDate MaritalStatus  ... EnglishOccupation  \
0     YANG          0  1971-10-06             M  ...      Professional
1    HUANG          0  1976-05-10             S  ...      Professional
2   TORRES          0  1971-02-09             M  ...      Professional
3      ZHU          0  1973-08-14             S  ...      Professional
4  JOHNSON          0  1979-08-05             S  ...      Professional

  SpanishOccupation FrenchOccupation  HouseOwnerFlag  NumberCarsOwned  \
0       Profesional            Cadre               1                0
1       Profesional            Cadre               0                1
2       Profesional            Cadre               1                1
3       Profesional            Cadre               0                1
4       Profesional            Cadre               1                4

          AddressLine1 AddressLine2                Phone DateFirstPurchase  \
0      3761 N. 14th St         None  1 (11) 500 555-0162        2011-01-19
1           2243 W St.         None  1 (11) 500 555-0110        2011-01-15
2     5844 Linden Land         None  1 (11) 500 555-0184        2011-01-07
3     1825 Village Pl.         None  1 (11) 500 555-0162        2010-12-29
4  7553 Harness Circle         None  1 (11) 500 555-0131        2011-01-23

  CommuteDistance
0       1-2 Miles
1       0-1 Miles
2       2-5 Miles
3      5-10 Miles
4       1-2 Miles

[5 rows x 29 columns]

In [12]:
# Utilizziamo il metodo .str.split() per suddividere l'indirizzo email in nome utente e dominio
dimcustomer[['Username', 'Domain']] = dimcustomer['EmailAddress'].str.split('@', n=1, expand=True)
print(dimcustomer[['EmailAddress', 'Username', 'Domain']].head(5))

                     EmailAddress    Username               Domain
0       jon24@adventure-works.com       jon24  adventure-works.com
1    eugene10@adventure-works.com    eugene10  adventure-works.com
2     ruben35@adventure-works.com     ruben35  adventure-works.com
3   christy12@adventure-works.com   christy12  adventure-works.com
4  elizabeth5@adventure-works.com  elizabeth5  adventure-works.com

In [13]:
#estraiamo ogni parte del numero nella colonna Phone
dimcustomer['Phone_Parts'] = dimcustomer['Phone'].str.extractall(r'(\d+|\(\d+\)|\d+-\d+)').groupby(level=0).agg(' '.join)
print(dimcustomer[['Phone', 'Phone_Parts']].head(5))

                 Phone          Phone_Parts
0  1 (11) 500 555-0162  1 (11) 500 555 0162
1  1 (11) 500 555-0110  1 (11) 500 555 0110
2  1 (11) 500 555-0184  1 (11) 500 555 0184
3  1 (11) 500 555-0162  1 (11) 500 555 0162
4  1 (11) 500 555-0131  1 (11) 500 555 0131

In [14]:
# Utilizziamo il metodo .str.contains() per filtrare gli indirizzi email che contengono il numero "21"
email_containing_21 = dimcustomer[dimcustomer['EmailAddress'].str.contains('21')]
print(email_containing_21[['EmailAddress']].head(5))

                       EmailAddress
64      chase21@adventure-works.com
118     alvin21@adventure-works.com
130  caroline21@adventure-works.com
163   gabriel21@adventure-works.com
203      luis21@adventure-works.com

In [15]:
# Utilizziamo il metodo .str.contains() per filtrare gli indirizzi email che contengono il numero "20" o il numero "10"
email_containing_20_or_10 = dimcustomer[dimcustomer['EmailAddress'].str.contains('20|10')]
print(email_containing_20_or_10[['EmailAddress']].head(5))

                       EmailAddress
1      eugene10@adventure-works.com
10  jacquelyn20@adventure-works.com
22      ethan20@adventure-works.com
30    bethany10@adventure-works.com
32     denise10@adventure-works.com

In [16]:
# Calcola la lunghezza di ciascun indirizzo email
dimcustomer['Email_Length'] = dimcustomer['EmailAddress'].str.len()

# Ordina gli indirizzi email in base alla loro lunghezza
sorted_emails = dimcustomer.sort_values(by='Email_Length')

# Estrai i dieci più lunghi e i dieci più corti
top_10_longest_emails = sorted_emails.tail(10)
top_10_shortest_emails = sorted_emails.head(10)

#risultati
print("Dieci indirizzi email più lunghi:")
print(top_10_longest_emails[['EmailAddress', 'Email_Length']])
print("\nDieci indirizzi email più corti:")
print(top_10_shortest_emails[['EmailAddress', 'Email_Length']])

Dieci indirizzi email più lunghi:
                            EmailAddress  Email_Length
4772   christopher10@adventure-works.com            33
9242   christopher11@adventure-works.com            33
1767   christopher18@adventure-works.com            33
16808  christopher19@adventure-works.com            33
8768   christopher12@adventure-works.com            33
3512   christopher27@adventure-works.com            33
4973   christopher16@adventure-works.com            33
13417  christopher14@adventure-works.com            33
2655   christopher23@adventure-works.com            33
16661  christopher17@adventure-works.com            33

Dieci indirizzi email più corti:
                   EmailAddress  Email_Length
3974     k0@adventure-works.com            22
15299    y0@adventure-works.com            22
1658   joy2@adventure-works.com            24
550    deb4@adventure-works.com            24
13888  roy9@adventure-works.com            24
6264   ian1@adventure-works.com            24
2326   bob8@adventure-works.com            24
13825  zoe3@adventure-works.com            24
215    ana7@adventure-works.com            24
11213  jay9@adventure-works.com            24

In [17]:
# Modifica il dominio degli indirizzi email utilizzando il metodo .str.replace()
dimcustomer['EmailAddress'] = dimcustomer['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')
print(dimcustomer[['EmailAddress']].head())

           EmailAddress
0       jon24@aw-db.com
1    eugene10@aw-db.com
2     ruben35@aw-db.com
3   christy12@aw-db.com
4  elizabeth5@aw-db.com

In [18]:
# Seleziona gli indirizzi che contengono la sottostringa "Street"
street_addresses = dimcustomer[dimcustomer['AddressLine1'].str.contains('Street', case=False)]
print(street_addresses[['AddressLine1']].head(5))

           AddressLine1
7      942 Brook Street
12    4785 Scott Street
32   626 Bentley Street
63   4927 Virgil Street
125  8481 Zartop Street